<!doctype html>
<html
  lang="{{ or site.Language.LanguageCode site.Language.Lang }}"
  dir="{{ or site.Language.LanguageDirection `ltr` }}"
>
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
    {{ if eq .Type "docs" }}
      {{ partial "header/navbar.html" . }}
      {{ partial "doc.html" . }}
    {{ else }}
      <header>
        {{ partial "header.html" . }}
      </header>
      <main>
        {{ block "main" . }}{{ end }}
      </main>
    {{ end }}
    <footer>
      {{ partial "footer.html" . }}
    </footer>
  </body>
</html>
