{{ if .Params.features }}
  <div class="overflow-hidden bg-white py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div
        class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2"
      >
        {{ $classes := "lg:pt-4" }}
        {{ if .Params.features.right }}
          {{ $classes = "lg:pt-4 lg:ml-auto lg:pl-4" }}
        {{ end }}
        <div class="{{ $classes }}">
          <div class="lg:max-w-lg">
            <h2
              class="text-base font-semibold leading-7 text-{{ .Site.Params.primaryColorScheme }}-600"
            >
              {{ if .Params.features.title }}
                {{ .Params.features.title }}
              {{ else }}
                {{ i18n "features" . }}
              {{ end }}
            </h2>
            <p
              class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
            >
              {{ .Params.features.heading }}
            </p>
            <p class="mt-6 text-lg leading-8 text-gray-600">
              {{ .Params.features.subheading }}
            </p>
            {{ $primaryColorScheme := .Site.Params.primaryColorScheme }}
            {{ if .Params.features.items }}
              <dl
                class="mt-10 max-w-xl space-y-8 text-base leading-7 text-gray-600 lg:max-w-none"
              >
                {{ range .Params.features.items }}
                  <div class="relative pl-9">
                    <dt class="font-semibold text-gray-900">
                      <svg
                        class="absolute left-0 top-1 h-5 w-5 text-{{ $primaryColorScheme }}-500"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                          clip-rule="evenodd"
                        />
                      </svg>
                      {{ .title }}
                    </dt>
                    <dd class="mt-2">{{ .description }}</dd>
                  </div>
                {{ end }}
              </dl>
            {{ end }}
          </div>
        </div>
        {{ if .Params.features.right }}
          {{ $baseURL := .Site.BaseURL }}
          {{ with .Params.features.image }}
            <div class="flex items-start justify-end lg:order-first">
              <img
                src="{{ $baseURL }}{{ . }}"
                alt="Feature"
                class="w-[48rem] max-w-none rounded-xl shadow-xl ring-1 ring-gray-400/10 sm:w-[57rem] md:-ml-4 lg:-ml-0"
              />
            </div>
          {{ end }}
        {{ else }}
          {{ $baseURL := .Site.BaseURL }}
          {{ with .Params.features.image }}
            <img
              src="{{ $baseURL }}{{ . }}"
              alt="Feature"
              class="w-[48rem] max-w-none rounded-xl shadow-xl ring-1 ring-gray-400/10 sm:w-[57rem]"
            />
          {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}
