{{ partial "footer/cta.html" . }}
<div class="mx-auto max-w-7xl overflow-hidden px-6 py-20 sm:py-24 lg:px-8">
  <div class="-mb-6 columns-2 lg:flex lg:justify-center lg:space-x-10">
    {{ $baseURL := .Site.BaseURL }}
    {{ $trimmedBaseURL := strings.TrimRight "/" $baseURL }}
    {{ $currentLang := .Site.Language.Lang }}
    {{ $newBaseURL := strings.TrimRight "/" $baseURL }}
    {{ if ne $currentLang "en" }}
      {{ $newBaseURL = print $baseURL $currentLang }}
    {{ end }}
    {{ range .Site.Menus.footer }}
      <div class="pb-6">
        {{ if .Identifier }}
          <a
            href="{{ $newBaseURL }}{{ .PageRef }}"
            title="{{ .Title }}"
            class="text-sm leading-6 text-gray-600 hover:text-gray-900"
          >
            {{ or (T .Identifier) .Name | safeHTML }}
          </a>
        {{ else }}
          <a
            href="{{ $trimmedBaseURL }}{{ .PageRef }}"
            title="{{ .Title }}"
            class="text-sm leading-6 text-gray-600 hover:text-gray-900"
          >
            {{ .Name }}
          </a>
        {{ end }}
      </div>
    {{ end }}
  </div>
  {{ partial "footer/social.html" . }}
  <p class="mt-10 text-center text-xs leading-5 text-gray-500">
    Copyright {{ now.Year }}. All rights reserved.
  </p>
</div>
{{ partial "footer/cookie-consent.html" . }}
