<div class="px-4 sm:px-6 md:px-8">
  <nav
    class="flex items-center justify-between p-6 lg:px-8"
    aria-label="Global"
  >
    <div class="flex lg:flex-1">
      <a href="/" class="-m-1.5 p-1.5">
        <img class="h-8 w-auto" src="/favicon.ico" alt="{{ site.Title }}" />
      </a>
    </div>
  </nav>
</div>
<div class="relative max-w-5xl mx-auto pt-20 sm:pt-24 lg:pt-32">
  <h1
    class="font-extrabold text-4xl sm:text-5xl lg:text-6xl tracking-tight text-center"
  >
    {{ .Title }}
  </h1>
</div>
