{{ partial "header/navbar.html" . }}
{{ if or .IsHome (eq .Type "about") }}
  {{ partial "header/hero.html" . }}
{{ else if eq .Type "landing" }}
  {{ partial "header/feature.html" . }}
{{ else if eq .Type "register" }}
  {{ partial "header/register.html" . }}
{{ else if eq .Type "story" }}
  {{ partial "header/story.html" . }}
{{ else if .IsPage }}
  {{ if eq .Type "blog" }}
    {{ partial "header/post.html" . }}
  {{ else if eq .Type "docs" }}
    {{ partial "header/doc.html" . }}
  {{ else }}
    {{ partial "header/single.html" . }}
  {{ end }}
{{ else }}
  {{ partial "header/list.html" . }}
{{ end }}
