<div
  class="mx-auto flex w-full max-w-7xl items-start gap-x-8 px-6 py-4 md:px-12"
>
  <aside class="sticky top-8 hidden w-44 shrink-0 lg:block"></aside>
  <div class="flex-1">
    <nav class="flex py-1" aria-label="Breadcrumb">
      <ol role="list" class="flex items-center space-x-2">
        <li>
          <div class="flex items-center">
            {{ $baseURL := .Site.BaseURL }}
            {{ $currentLang := .Site.Language.Lang }}
            {{ $newBaseURL := strings.TrimRight "/" $baseURL }}
            {{ if ne $currentLang "en" }}
              {{ $newBaseURL = print $baseURL $currentLang }}
            {{ end }}
            <a
              href="{{ $newBaseURL }}/docs/"
              class="text-sm font-medium text-gray-500 hover:text-gray-700"
            >
              {{ i18n "docs" . }}
            </a>
          </div>
        </li>
        <li>
          <div class="flex items-center">
            <svg
              class="h-5 w-5 flex-shrink-0 text-gray-400"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                clip-rule="evenodd"
              />
            </svg>
            <a
              href="#"
              class="ml-2 text-sm font-medium text-gray-500 hover:text-gray-700"
              aria-current="page"
            >
              {{ .Title }}
            </a>
            <div class="lg:hidden">
              {{ with .Parent }}
                <div class="relative ml-2">
                  <button
                    id="docs-menu-button"
                    type="button"
                    class="flex items-center gap-x-1 text-sm font-semibold leading-6 text-gray-900"
                    aria-expanded="false"
                  >
                    <span class="sr-only">Open docs menu</span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="size-6"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M6.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM12.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM18.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z"
                      />
                    </svg>
                  </button>
                  <div
                    id="docs-menu"
                    class="absolute left-1/2 z-10 mt-2 hidden w-screen max-w-min -translate-x-1/2 px-4"
                  >
                    <div
                      class="w-56 shrink rounded-xl bg-white p-4 text-sm font-semibold leading-6 text-gray-900 shadow-lg ring-1 ring-gray-900/5"
                    >
                      {{ range .Pages }}
                        <a
                          href="{{ .RelPermalink }}"
                          class="block p-2 hover:text-indigo-600"
                          >{{ .Title }}</a
                        >
                      {{ end }}
                    </div>
                  </div>
                </div>
              {{ end }}
            </div>
          </div>
        </li>
      </ol>
    </nav>
    <h1
      class="text-2xl font-extrabold tracking-tight text-slate-900 md:text-3xl"
    >
      {{ .Title }}
    </h1>
  </div>
</div>
<script>
  document
    .getElementById("docs-menu-button")
    .addEventListener("click", function () {
      const menu = document.getElementById("docs-menu");
      menu.classList.toggle("hidden");
    });
</script>
