<div class="mobile-menu hidden" role="dialog" aria-modal="true">
  <div class="fixed inset-0 z-50"></div>
  <div
    class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10"
  >
    <div class="flex items-center justify-between">
      {{ $baseURL := .Site.BaseURL }}
      {{ if ne .Site.Language.Lang "en" }}
        {{ $baseURL = print .Site.BaseURL .Site.Language.Lang }}
      {{ end }}
      <a href="{{ $baseURL }}" class="-m-1.5 p-1.5">
        <img
          class="h-8 w-auto"
          src="{{ .Site.BaseURL }}logo.svg"
          alt="{{ site.Title }}"
        />
      </a>
      <div class="flex gap-x-6 items-center">
        {{ partial "header/languages.html" . }}
        <button
          type="button"
          class="menu-close -m-2.5 rounded-md p-2.5 text-gray-700"
        >
          <span class="sr-only">Close main menu</span>
          <svg
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </button>
      </div>
    </div>
    <div class="mt-6 flow-root">
      <div class="-my-6 divide-y divide-gray-500/10">
        <div class="space-y-2 py-6">
          {{ $baseURL := .Site.BaseURL }}
          {{ $currentLang := .Site.Language.Lang }}
          {{ $newBaseURL := strings.TrimRight "/" $baseURL }}
          {{ if ne $currentLang "en" }}
            {{ $newBaseURL = print $baseURL $currentLang }}
          {{ end }}
          {{ range .Site.Menus.main }}
            <a
              href="{{ $newBaseURL }}{{ .PageRef }}"
              title="{{ .Title }}"
              onclick="document.querySelector('.mobile-menu').classList.toggle('hidden')"
              class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
            >
              {{ or (T .Identifier) .Name | safeHTML }}
            </a>
          {{ end }}
          {{ if .Site.Params.appURL }}
            <a
              href="{{ .Site.Params.appURL }}"
              title="Log in"
              onclick="document.querySelector('.mobile-menu').classList.toggle('hidden')"
              class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
              rel="nofollow"
            >
              Log in
            </a>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</div>
